nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    position: relative;
    top: -180px;
    right: 60px;
}

nav ul li {
    padding: 24px;
}

nav ul li a {
    font-weight: 500;
    color: #242E52;
}

nav ul li a:hover {
    font-weight: 500;
    color: #242E52;
    opacity: 60%;
}

img {
    width: 100%;
    height: 200px;
    
}