/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}